{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  <h1>Articles</h1>

  <a href="{{ path('create') }}">New article</a>

  <table class="table">
    <tr>
      <th>View article

      </th>
      <th>States</th>
      <th>Reject (can only reject reviewed article. Will give exception if you try to reject what you cannot</th>
      <th>Mark as reviewed</th>
      <th>Publish</th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>
          <a href="article/view/{{ article.id }}">{{ article.id }}</a>
          {# not checking the state intetionally here and showing link to all articles to demonstrate
          view template checking if it can show #}
        </td>
        <td>{{ workflow_marked_places(article)|join(',') }}</td>

        <td>
{# intentionaly showing to all to demonstrate exception - the component makes sure you do not reject
 which you cannot #}
            <a href="article/reject/{{ article.id }}">Reject</a>

        </td>
        <td>
          {% if (workflow_can(article, 'mark_as_reviewed')) %}
            <a href="article/review/{{ article.id }}">Mark as reviewed</a>
          {% endif %}
        </td>
        <td>
          {% if (workflow_can(article, 'publish')) %}
            <a href="article/publish/{{ article.id }}">Publish</a>
          {% endif %}

        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}